
<!DOCTYPE html>
<!--[if IEMobile 7 ]> <html lang="en_US" class="no-js iem7"> <![endif]-->
<!--[if lt IE 7]> <html class="ie6 lt-ie10 lt-ie9 lt-ie8 lt-ie7 no-js" lang="en_US"> <![endif]-->
<!--[if IE 7]>    <html class="ie7 lt-ie10 lt-ie9 lt-ie8 no-js" lang="en_US"> <![endif]-->
<!--[if IE 8]>    <html class="ie8 lt-ie10 lt-ie9 no-js" lang="en_US"> <![endif]-->
<!--[if IE 9]>    <html class="ie9 lt-ie10 no-js" lang="en_US"> <![endif]-->
<!--[if (gte IE 9)|(gt IEMobile 7)|!(IEMobile)|!(IE)]><!--><html class="no-js" lang="en_US"><!--<![endif]-->

  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
<meta http-equiv="content-type" content="text/html; charset=UTF-8;charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=1" />
<meta name="HandheldFriendly" content="true"/>

<link rel="stylesheet" href="/css/index.css" type="text/css">
<link rel="stylesheet" href="/css/index2.css" type="text/css">

	<title>Complico</title>

<meta name="description" content="Complicating prices since 2014">


  </head>
  <body id="pg-index" class="page-index body--home">
    <div class="site-wrapper  site-wrapper--home  js-site-wrapper">
        <div id="" class="content-wrap--home">
		    <div id="content_homepage" class="content--home">
			   <div class="cw--c">
				  <div class="logo-wrap--home">
                <a id="logo_homepage_link" class="logo_homepage" href="/">Complico</a>
              </div>
				  <div class="search-wrap--home">
				    <form id="search_form_homepage" class="search  search--home  js-search-form" name="x" method="GET" action="/search">			               <input id="search_form_input_homepage" class="search__input  js-search-input" type="text" autocomplete="off" name="search-term" tabindex="1" value="" placeholder="ebay">
                  <input id="search_button_homepage" class="search__button  js-search-button" type="submit" tabindex="2" value="Go!" />
                </form>
				</div> <!-- cw -->
			 </div> <!-- content_homepage //-->
		  </div> <!-- content_wrapper_homepage //-->
    </div> <!-- site-wrapper -->
  </body>
</html>

