<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="{{complico-host}}/js/complico-debug.js"></script>
<script type="text/javascript">
  $(function(){
    var greaseLinks = function(){ 
      var foundin = $('a').each(function(index){
        var link = $(this).attr('href');
        if(link !== undefined){
          var newLink = complico.core.grease_the_link("{{original-host}}" , "{{complico-host}}/convert?url=", link);
          $(this).attr('href', newLink); 
        }
      });
    };
    var replacePrices = function(){
      var found = $('*:not(:has(*)):contains("\u00A3")').each(function(index){
        $(this).text('\u00A3XXX');
      });
    };
    greaseLinks();
    replacePrices();
   }); 
</script>
